@use "./initial";

.all-entries {
    &__box {
        display: flex;
        column-gap: 30px;
    }

    &__browser {
        border: 1px solid var(--accent);
        flex: 0 1 25%;
        padding: 15px 10px;
        align-self: start;
        color: var(--white);
        min-width: 200px;
        // max-height: 597px;
        max-height: 73vh;
        overflow-y: auto;
    }

    &__notes {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        max-height: 75vh;
        padding-right: 7px;
        overflow: hidden;
        overflow-y: auto;
        min-width: 740px;
    }

    &__miniature {
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
            background-color: var(--accent);
            color: var(--bg);
        }
        &:active {
            opacity: 0.7;
        }
    }

    &__note {
        border: 1px solid var(--accent);
        padding: 20px;
        position: relative;
        transition: box-shadow 0.3s;
        &:hover {
            .all-entries__note-button {
                opacity: 0.5;
            }
        }
    }

    &__note-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
    }

    &__note-title {
        font-size: 24px;
        width: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        color: var(--white);
    }

    &__note-text {
        margin-bottom: 15px;
        width: 100%;
        color: var(--white);
        cursor: pointer;
    }

    &__note-keywords {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: var(--accent);
        max-width: 522px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
        button {
            padding: 0 5px;
            border: none;
        }
    }

    &__note-date {
        cursor: default;
        color: var(--accent);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 113px;
        max-width: 121px;
    }

    &__note-button {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent);
        opacity: 0;
        svg {
            width: 15px;
            path {
                fill: var(--bg);
            }
        }
        &:hover {
            opacity: 1 !important;
        }
        &:active {
            opacity: 0.5 !important;
        }
    }
}

@keyframes shine {
    0%,
    100% {
        box-shadow: inset 0 0 0px var(--accent);
    }
    50% {
        box-shadow: inset 0 0 60px var(--accent);
    }
}
