@use "./initial";

h1 {
    opacity: 0.5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 40px;

    &__nav {
        display: flex;
        align-items: center;
    }
    &__btn {
        &.active {
            background-color: var(--accent);
            color: var(--bg);
        }
    }
    &__btn--add {
    }
    &__btn--view {
    }
}
