@use "./initial";

.search {
    margin-top: -20px;
    margin-bottom: 30px;
    @media (max-width: #{initial.$md2}px) {
        margin-bottom: 20px;
    }
    @media (max-width: #{initial.$md3}px) {
        margin-bottom: 15px;
    }

    &__form {
    }

    &__input {
        width: 100%;
        transition: box-shadow 0.3s;
        color: var(--white);
        padding: 10px 15px;
        &:focus {
            &::placeholder {
                opacity: 0.4;
            }
        }
        &::placeholder {
            color: var(--white);
        }
        @media (max-width: #{initial.$md3}px) {
            font-size: 14px;
            padding: 10px;
        }
        @media (max-width: #{initial.$md4}px) {
            font-size: 12px;
        }
    }
}
