<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" /> -->
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body style="background-color: #000">
        <div class="section journal">
            <div class="container">
                <div class="header">
                    <h1><%= htmlWebpackPlugin.options.title %></h1>
                    <div class="header__nav">
                        <button class="header__btn header__btn--add active">Add New</button>
                        <button class="header__btn header__btn--view">View All</button>
                    </div>
                </div>

                <div class="journal__form-box">
                    <form action="#" class="journal__form">
                        <div class="journal__form-row">
                            <div class="journal__form-input-box">
                                <input
                                    tabindex="1"
                                    type="text"
                                    class="journal__form-input"
                                    id="form-input-date"
                                    autocomplete="off"
                                />
                                <label class="journal__form-input-label">Date</label>
                            </div>
                            <div class="journal__form-input-box">
                                <input
                                    tabindex="2"
                                    type="text"
                                    class="journal__form-input"
                                    id="form-input-keywords"
                                    autocomplete="off"
                                    title="If more than one, separate by commas"
                                />
                                <label class="journal__form-input-label">Keywords</label>
                            </div>
                        </div>
                        <div class="journal__form-row">
                            <div class="journal__form-input-box">
                                <input
                                    tabindex="3"
                                    type="text"
                                    class="journal__form-input"
                                    id="form-input-title"
                                    autocomplete="off"
                                />
                                <label class="journal__form-input-label">Title</label>
                            </div>
                        </div>
                        <div class="journal__form-row">
                            <div class="journal__form-input-box">
                                <textarea
                                    tabindex="4"
                                    name="note-body"
                                    class="journal__form-input journal__form-textarea"
                                    id="form-input-content"
                                    title="Cannot be empty"
                                ></textarea>
                                <label class="journal__form-input-label">Note</label>
                            </div>
                        </div>
                        <div class="journal__form-row">
                            <div class="journal__form-btns">
                                <!-- <button class="journal__form-btn" type="button">Preview</button> -->
                                <button class="journal__form-btn" type="submit" title="Or press Command/Control + Enter">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="all-entries hidden">
                    <div class="search">
                        <form action="#" class="search__form">
                            <input type="text" class="search__input" placeholder="Search" />
                        </form>
                    </div>
                    <div class="all-entries__box">
                        <div class="all-entries__browser"></div>
                        <div class="all-entries__notes"></div>
                    </div>
                </div>
            </div>

            <div class="bottom-block">
                <div class="actions">
                    <div class="actions-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"
                            />
                        </svg>
                    </div>

                    <div class="actions-menu">
                        <div class="action-action action-action--color" title="Change the accent color of the interface">
                            Change color
                        </div>
                        <div class="action-action action-action--export" title="Export as JSON or TXT">Export notes</div>
                        <div class="action-action action-action--import" title="Import as JSON">Import notes</div>
                        <input class="importer" type="file" />
                    </div>
                </div>
                <div class="date-time">
                    <div class="time"></div>
                </div>
            </div>
        </div>
    </body>
</html>
